* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.weather {
    background: url(../images/bg2.jpg);
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 500px;
    height: 80px;
    padding: 20px;
    border: 1px solid #fff;
    outline: none;
    font-size: 35px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    box-shadow: 0 0 20px #fff inset;
}

.box {
    width: 700px;
    height: 500px;
    box-shadow: 0 0 10px #fff inset;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid rgba(255, 255, 255, 0.601);
    padding-bottom: 15px;
}

.location {
    display: flex;
    align-items: center;
}

.date-info {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.date-info div {
    display: flex;
    align-items: center;
}

.city {
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
}

.country {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
}

.date {
    color: #fff;
    font-size: 30px;
    margin-right: 10px;

}

.month {
    color: #fff;
    font-size: 30px;
    margin-right: 10px;

}

.day {
    color: #fff;
    font-size: 45px;
    font-weight: 500;
    line-height: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgba(255, 255, 255, 0.601);
    padding-bottom: 15px;
}

.degree {
    font-size: 150px;
    font-weight: 600;
    color: #fff;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info p {
    color: #fff;
    font-size: 40px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.humidity,
.wind {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: #fff;
    font-size: 60px;
}

.humidity span,
.wind span {
    color: #fff;
    font-size: 35px;
    margin-left: 10px;
}

.types {
    color: #fff;
    font-size: 60px;
}

.types span {
    color: rgb(154, 150, 150);
    font-size: 60px;
}